
<div id="flashCalculator">
	<object type="application/x-shockwave-flash" data="/flash/flash_calculator.swf"  width="350" height="450" id="simpleCalculator" >
    	<param name="Calculator" value="/flash/flash_calculator.swf" /> 
		<param name="loop" value="false" />
	</object>
       
</div> 
