<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h2>About</h2>

<table>
  <tr><td>Role</td><td>Name</td><td>Contact Detail</td><tr>
<tr><td>Project Manager</td><td>Jaymie Parker</td></tr>
<tr><td>Change Control Manager</td><td>Jared Fraser</td></tr>
<tr><td>Backup Manager</td><td>Shane Nayler</td></tr>
<tr><td>Quality Manager</td><td>Niki Akbar Djayasaputra</td></tr>
<tr><td>Release Manager</td><td>Tuan Le Tran Minh </td></tr>
<tr><td>Documentation Manager</td><td>Eduardo Mauro</td></tr>
</table>